@use '../../theme.scss' as *;

.app-layout {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: visible;

	&__header {
		position: static;
	}

	&__main {
		flex: 1;
		overflow: visible;
	}

	&__footer {
		flex-shrink: 0;
	}
}
